/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
  background-color:rgb(49, 113, 252)
    color: #fff;
    text-align: center;
   padding: 20px;
}

header img {
    width: 100px;
    height: auto;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #2794ec;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #f0f0f0;
}

main {
    padding: 20px;
    background-color: #fff;
}

/* Estilos para a seção de banner (carrossel) */
.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

/* Estilos para a seção "Sobre Nós" */
#sobre-nos {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos para os links no rodapé (opcional) */
footer a {
    text-decoration: none;
    color: #fff;
}
